name: Style check

on: [pull_request, workflow_dispatch]

env:
  PYTHONUNBUFFERED: 1

jobs:
  style:
    runs-on: ubuntu-latest

    steps:
    - name: Set up Python 3.10
      uses: actions/setup-python@v6
      with:
        python-version: '3.10'
    - name: Check out the target commit
      uses: actions/checkout@v6
    - name: Install necessary Python packages
      run: |
        python -m pip install -r style-requirements.txt
    - name: Run style checks
      run: |
        python -m flake8
        python -m isort . --check --diff
        python -m isort docs/source/guide/examples --check --diff
        python -m black . --check --diff
